{% extends 'layout.html' %}


{% block body %}

<br>
<h1 style="text-align: center;">RUTA EN DESARROLLO</h1>
<br>
<div class="container-logo">
    <img class="logo-bienvenida" src="{{ url_for('static',filename='/img/construction-web.png')}}" alt="">
</div>

<div class="container-logo">
<h2 style="text-align: center;">Si llegaste hasta acá, es porque crees que esta funcionalidad es importante
    para tu trabajo. <br>
    Registra tus sugerencias y participa en las reuniones del diseño de experiencia con el equipo de desarrollo.
    <br><br>
    Tu opinión es clave.
</h2>
</div>

<div class="container-logo">

    <a href="/admin/dashboard">
        <div class="ingresar">
            VOLVER
        </div>
    </a>
</div>



{% endblock %}