{% extends 'layout.html' %}

{% block body %}
<h1 style="text-align: center;">Detalle Contrato</h1>





<br>


<div class="container-contrato">

    <div class="atributos">
        <label>
            <h4>CONTRATO</h4>
        </label>
        <br>
        {{ modelo_contrato.tituloContrato }}
    </div>
    <div class="atributos">
        <br>
        <label>
            <h4>ID</h4>
        </label>
        <br>
        {{ modelo_contrato.idContrato }}
    </div>

    <div class="atributos">
        <br>
        <label>
            <h4>VENCE</h4>
        </label>
        <br>
        {{ modelo_contrato.fechaFinContrato }}
    </div>

    <hr>
    <div class="atributos">
        <label>
            <h4> ITS/ITO RESPONSABLE </h4>
        </label>
        <br>
        {{ its.nombresUser }} {{ its.apellidosUser }}
    </div>
    <br>
    <hr>
    <br>
    <div style="text-align: center; " class="row">
        <div class="col">
            <label>
                <h4>RAZON SOCIAL</h4>
            </label>
            <br>
            {{ modelo_contrato.razonSocial }}
        </div>
        <div class="col">
            <label>
                <h4>DOMICILIO</h4>
            </label>
            <br>
            {{ modelo_contrato.domicilioRazonSocial }}
        </div>
        <div class="col">
            <label>
                <h4>RUT</h4>
            </label>
            <br>
            {{ modelo_contrato.rutRazonSocial }}
        </div>
        <br>
    </div>
    <br>
    <div style="text-align: center;" class="row">
        <div class="col">
            <label>
                <h4>REPRESENTANTE LEGAL</h4>
            </label>
            <br>
            {{ modelo_contrato.nombreContratante }}
        </div>
        <div class="col">
            <label>
                <h4>EMAIL FIRMANTE</h4>
            </label>
            <br>
            {{ modelo_contrato.emailFirmante }}
        </div>
        <div class="col">
            <label>
                <h4>CI</h4>
            </label>
            <br>
            {{ modelo_contrato.rutContratante }}
        </div>
        <br>
    </div>


    <br>
    <hr>
    <br>
    <div class="atributos">
        <label>
            <h4>LABORES</h4>
        </label>
        <br>
        {{ modelo_contrato.labores }}
    </div>
    <br>
   
    <br>
    <hr>
    <br>

    <div style="text-align: center;" class="row">

        <div class="col">
            <label>
                <h4>MONTO</h4>
            </label>
            <br>
            ${{ modelo_contrato.montoRemuneracion }}
        </div>

        <div class="col">
            <label>
                <h4>PERIODO</h4>
            </label>
            <br>
            {{ modelo_contrato.periodoPago }} días
        </div>
        <div class="col">
            <label>
                <h4>DURACIÓN JORNADA </h4>
            </label>
            <br>
            {{ modelo_contrato.duracionJornada }} horas
        </div>
        <div class="col">
            <label>
                <h4>DISTRIBUCIÓN JORNADA</h4>
            </label>
            <br>
            {{ modelo_contrato.distribucionJornada }}
        </div>



    </div>

    <br>
    <hr>
    <br>
    <div style="text-align: center;" class=row>
        <div class="col">
            <a href="/admin/download/{{ 'OE_'~modelo_contrato.rutContratante }}">
                <div class="descarga">DESCARGAR OFERTA ECONÓMICA</div>
            </a>
        </div>
        <div class="col">
            <a href="/admin/download/{{ 'OT_'~modelo_contrato.rutContratante }}">
                <div class="descarga">DESCARGAR OFERTA TÉCNICA</div>
            </a>
        </div>
        <div class="col">
            <a href="/admin/download/{{ 'BA_'~modelo_contrato.rutContratante }}">
                <div class="descarga">DESCARGAR BASES ADMINISTRATIVAS</div>
            </a>
        </div>
        <div class="col">
            <a href="/admin/download/{{ 'BT_'~modelo_contrato.rutContratante }}">
                <div class="descarga">DESCARGAR BASES TÉCNICAS</div>
            </a>
        </div>
        <div class="col">
            <a href="/admin/download/{{ 'CON_'~modelo_contrato.rutContratante }}">
                <div class="descarga">DESCARGAR CONSULTAS</div>
            </a>
        </div>
        <div class="col">
            <a href="/admin/download/{{ 'GAR_'~modelo_contrato.rutContratante }}">
                <div class="descarga">DESCARGAR GARANTÍAS</div>
            </a>
        </div>
        <div class="col">
            <a href="/admin/download/{{ 'IG_'~modelo_contrato.rutContratante }}">
                <div class="descarga">INFORMACIÓN GENERAL</div>
            </a>
        </div>


    </div>


</div>

<br>
<h2 style="text-align: center;"> Facturas</h2>
<div class="container">
    <div style="overflow-y: scroll; height: 150px;">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>N° Documento</th>
                    <th> Estado </th>
                </tr>
            </thead>
            <tbody>
                {% if facturas %}
                {% for factura in facturas %}
                <tr>
                    
                    <td> {{ factura.docFactura }} </td>
                    <td> {{ factura.statusFactura }} </td>
                   
                </tr>
                {% endfor %}

                {% else %}
                <tr>
                    <td><h4>No existen registros</h4></td>
                    <td></td>

                </tr>

                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<br>

<br>
<h2 style="text-align: center;"> Sanciones</h2>
<div class="container">
    <div style="overflow-y: scroll; height: 150px;">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Multa</th>
                    <th> Monto </th>
                </tr>
            </thead>
            <tbody>
                {% if multas %}
                {% for multa in multas %}
                <tr>
                    <td> {{ multa.glosa }}</td>
                    <td> {{ multa.monto }} UTM </td>
                </tr>
                {% endfor %}

                {% else %}
                <tr>
                    <td> <h4>No existen registros</h4></td>
                    <td></td>
                    
                </tr>
                {% endif %}

                
                
            </tbody>
            
        </table>
    </div>
</div>

<br>



<a href="/admin/dashboard">
    <div class="button">
        VOLVER
    </div>
</a>

{% endblock %}