{% extends 'layout.html'%}



{% block body %}
<h1 style="text-align: center;">CREAR CONTRATO</h1>
<hr>

<h2 style="text-align: center;">Paso 1: Datos del Contrato</h1>
    <div class="form-group">
        <form action="/admin/formulariocontrato" method="post">
            <div class="form-its">

                <h2>ITS/ITO</h2>
                <div class="form-group">
                    <label class="label-control">NOMBRE ITS/ITO</label>

                    <select class="form-control" name="its_id" required>
                        {% for its in usuarios_its %}
                        <option value="{{ its.id }}"> {{ its.nombresUser +" "+ its.apellidosUser}} </option>
                        {% endfor %}
                    </select>

                </div>
                <div class="form-group">
                    <label class="label-control">TÍTULO CONTRATO</label>
                    <input class="form-control" type="text" name="tituloContrato">
                </div>
                <div class="form-group">
                    <label>ID</label>
                    <input class="form-control" type="text" name="idContrato">
                </div>
                <div class="form-group">
                    <label>FECHA INICIO CONTRATO</label>
                    <input class="form-control" type="date" name="fechaInicioContrato">
                </div>
                <div class="form-group">
                    <label>FECHA FIN CONTRATO</label>
                    <input class="form-control" type="date" name="fechaFinContrato">
                </div>
            </div>

            <div class="form-contratantes">
                <h2>Contratantes</h2>
                <div class="form-group">
                    <label>RAZÓN SOCIAL</label>
                    <input class="form-control" type="text" name="razonSocial" required>
                </div>
                <div class="form-group">
                    <label>RUT RAZÓN SOCIAL (sin puntos, con guión)</label>
                    <input class="form-control" type="text" name="rutRazonSocial" required minlength="9" maxlength="10">
                </div>
                <div class="form-group">
                    <label>NOMBRE CONTRATANTE</label>
                    <input class="form-control" type="text" name="nombreContratante" required>
                </div>
                <div class="form-group">
                    <label>RUT CONTRATANTE (sin puntos, con guión)</label>
                    <input class="form-control" type="text" name="rutContratante" required minlength="9" maxlength="10">
                </div>
                <div class="form-group">
                    <label>NACIONALIDAD</label>
                    <input class="form-control" type="text" name="nacionalidadContratante" required>
                </div>
            
                
                <div class="form-group">
                    <label>DOMICILIO RAZON SOCIAL</label>
                    <input class="form-control" type="text" name="domicilioRazonSocial" required>
                </div>

            </div>

            <div class="form-labores">
                <h2>Labores</h2>
                <div class="form-group">
                    <label>LABORES</label>
                    <input class="form-control" type="text" name="labores">
                </div>
                <div class="form-group">
                    <label>LUGAR DE LABORES</label>
                    <input class="form-control" type="text" name="lugarLabores">
                </div>
                <label>MONTO REMUNERACIÓN ($)</label>
                <div class="form-group">
                    
                        
                    <input class="form-control" type="number" name="montoRemuneracion" placeholder="$">
                        
                    
                    
                </div>
                <div class="form-group">
                    <label>EMAIL FIRMANTE</label>
                    <input class="form-control" type="text" name="emailFirmante">
                </div>
                <div class="form-group">
                    <label>PERIODO DE PAGO (DÍAS)</label>
                    <input class="form-control" type="number" name="periodoPago">
                </div>
                <div class="form-group">
                    <label>PLAZO CONTRATO (DÍAS)</label>
                    <input class="form-control" type="text" name="plazoContrato">
                </div>
                <div class="form-group">
                    <label>DURACIÓN JORNADA (HORAS)</label>
                    <input class="form-control" type="text" name="duracionJornada">
                </div>
                <div class="form-group">
                    <label>DISTRIBUCIÓN JORNADA (EJ. LUNES A VIERNES)</label>
                    <input class="form-control" type="text" name="distribucionJornada">
                </div>

                <button class="button"
                 type="submit"
                 >GUARDAR Y CONTINUAR</button>

                
                    <a href="/admin/dashboard">
                        <div class="button">
                            VOLVER
                        </div>
                    </a>

                

            </div>



        </form>



    </div>

    {% endblock %}