{% extends 'layout.html' %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col">
            <a href="/admin/crearcontrato">
                <div class=accion>
                    <img class="iconos-botones" src="{{ url_for('static',filename='/img/contrato-white.png' ) }}">
                    <h3>Crear Contrato</h3>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/admin/seguircontrato">
                <div class=accion>
                    <img class="iconos-botones" src="{{ url_for('static',filename='/img/pasos-white.png' ) }}">
                    <h3>Seguir Contrato</h3>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/admin/modificarperfiles">
                <div class=accion>
                    <img class="iconos-botones" src="{{ url_for('static',filename='/img/perfil-white.png' ) }}">
                    <h3>Modificar Perfiles</h3>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/admin/construccionadmin">
                <div class=accion>
                    <img class="iconos-botones" src="{{ url_for('static',filename='/img/alert-white.png' ) }}">
                    <h3>Alertas</h3>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/admin/sanciones">
                <div class=accion>
                    <img class="iconos-botones" src="{{ url_for('static',filename='/img/multa-white.png' ) }}">
                    <h3>
                        Sanciones
                    </h3>

                </div>
            </a>
        </div>





    </div>

</div>

<hr>

<div class="container">

    <h2 style="text-align: center;">INDICADORES DE CONTRATOS</h2>
    <div class="row">
        <div class="col" style="text-align: center !important;">
            <div class="indicadores">

                <h5>{{contratos_totales}}</h5>
                <h3>Contratos Totales</h3>
            </div>
        </div>



        <div class="col">
            <div class="indicadores">

                <h5>{{indicadores_contratos.0}}</h5>
                <h3>Expiran en más de 120 días</h3>
            </div>
        </div>

        <div class="col">
            <div class="indicadores">

                <h5>{{indicadores_contratos.1}}</h5>
                <h3>Expiran en más de 90 días</h3>
            </div>
        </div>

        <div class="col">
            <div class="indicadores">

                <h5>{{indicadores_contratos.2}}</h5>
                <h3>Expiran en más de 30 días</h3>
            </div>
        </div>

        <div class="col">
            <div class="indicadores">

                <h5>{{indicadores_contratos.3}}</h5>
                <h3>Expiran en menos de 30 días</h3>
            </div>
        </div>

        <div class="col">
            <div class="indicadores">

                <h5>{{indicadores_contratos.4}}</h5>
                <h3>Contratos expirados</h3>
            </div>
        </div>
    </div>

</div>

<br>

<div class=container>
    <div class=row>

        <div class="col">
            <h2>Expiración de contratos</h2>
            <embed class="grafico-dashboard" src={{data_grafico|safe}} type="image/svg+xml">
       
        </div>
            
        <div class="col">
            <h2>Estado de facturas</h2>
            <embed class="grafico-dashboard" src={{grafico_facturas|safe}} type="image/svg+xml">
    
        </div>
    
    </div>
    <div class="row">
        <div class="col">
            <h2>Estado de multas</h2>
            <embed class="grafico-dashboard" src={{grafico_multas|safe}} type="image/svg+xml">

        </div>
    </div>
    

</div>


<br>
<hr>


<div class=container>
    <h2 style="text-align: center;">ÚLTIMA ACTIVIDAD </h2>
        <br>
    <div style="overflow-y: scroll; height: 200px; width: 100%;"> 
        
            <table class="table">
        
                <thead class="thead-light">
                    <tr>
                        <th>Actividad</th>
        
                    </tr>
        
                </th|ad>
        
                <tbody>
        
                    {% for log in tabla_logs %}
        
                    <tr>
                        <td> {{log.logUser}} </td>
        
                    </tr>
        
                    {% endfor %}
        
                </tbody>
            </table>
            
        

    </div>
    
</div>
<br>

    <hr>


{% endblock %}