{% extends 'layout.html' %}


{% block body %}

<h1>Paso 2: Documentación del Contrato</h1>

<div class="container">
    <form action="/admin/upload" method="post" enctype="multipart/form-data">


        <h2>Documentación</h2>
        <div class="form-control-file">
            <label>RUT CONTRATANTE</label>
            <input type="text" name="rut_contratante" value="{{ rut_contratante }}" required readonly="readonly">
        </div>

        <div class="form-control-file">
            <label>OFERTA ECONÓMICA</label>
            <input type="file" name="OE" required>
        </div>

        <div class="form-control-file">
            <label>OFERTA TECNICA</label>
            <input type="file" name="OT" required>

        </div>
        <div class="form-control-file">
            <label>BASES ADMINISTRATIVAS</label>
            <input type="file" name="BA" required>
        </div>
        <div class="form-control-file">
            <label>BASES TÉCNICAS</label>
            <input type="file" name="BT" required>
        </div>
        <div class="form-control-file">
            <label>CONSULTAS</label>
            <input type="file" name="CON" required>
        </div>
        <div class="form-control-file">
            <label>GARANTÍAS</label>
            <input type="file" name="GAR" required>
        </div>
        <div class="form-control-file">
            <label>INFORMACIÓN GENERAL</label>
            <input type="file" name="IG" required>
        </div>



        <button class="button" type="submit">Subir</button>
    </form>

</div>
{% endblock %}