{% extends 'layout.html' %}

{% block body %}


<h1 style="text-align: center;">Editar Usuario</h1>

    <div class="form-group">
    <form action="/admin/actualizarperfil/{{ user_a_editar.id }}" method="post">
       <fieldset>
        <div class="form-group">
            <label>Nombres</label>
            <input class="form-control" type="text" name="nombresUser" value="{{user_a_editar.nombresUser}}" required/>
        </div>
        <div class="form-group">
            <label>Apellidos</label>
            <input class="form-control" type="text" name="apellidosUser" value="{{ user_a_editar.apellidosUser}}" required/>
        </div>
        <div class="form-group">
            <label>Rut (sin puntos, con guión)</label>
            <input class="form-control" type="text" id="rutUser" name="rutUser" required minlength="9" maxlength="10" value="{{ user_a_editar.rutUser }}" />
        </div>
        <div class="form-group">
            <label>Fecha Nacimiento</label>
            <input class="form-control" type="date" id="fechaNacimientoUser" name="fechaNacimientoUser" value="{{ user_a_editar.fechaNacimientoUser }}" required/>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="email" id="emailUser" name="emailUser" value="{{ user_a_editar.emailUser }}" required/>
        </div>
        <div class="form-group">
            <label>Teléfono (+56)</label>
            <input class="form-control" type="text" id="telefonoUser" name="telefonoUser" value="{{ user_a_editar.telefonoUser }}" required minlength="9" maxlength="9"/>
        </div>
        <div class="form-group">
            <label>Cargo</label>
            <input class="form-control" type="text" id="cargoUser" value="{{ user_a_editar.cargoUser }}" name="cargoUser" required/>
        </div>

        <div class="form-group">
            <label >Rol</label>
            <p>
            <input type="radio" name="rolUser" value="ADMINISTRADOR" required="required"> Administrador
            <input type="radio" name="rolUser" value="USUARIO"> Usuario ITS/ITO
        </p>
        </div>

        <div class="form-group">
            <label>Contraseña</label>
            <input class="form-control" type="password" id="contrasenaUser" name="contrasenaUser" required onkeyup='confirmarContrasena();'/>
        </div>
        <div class="form-group">
            <label>Repetir contraseña</label>
            <input class="form-control" type="password" id="repContrasenaUser" name="repContrasenaUser" required onkeyup='confirmarContrasena();'/>
            <span id="alerta">  </span>
        </div>





        <button class="button" type="submit">EDITAR</button>

                
        <a href="/admin/dashboard">
            <div class="button">
                VOLVER
            </div>
        </a>
        

    </fieldset>
    </form>
    <a href="/admin/modificarperfiles">VOLVER</a>


{% endblock %}