{% extends 'layout.html' %}

{% block body %}

<div class="container">
    <h1 style="text-align: center;">Modificar Perfiles</h1>
    <a href="/auth/registrar">
        <div class="registrar">
            REGISTRAR USUARIO/A
        </div>
        
    </a>
    
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nombre</th>
                <th>Rol</th>
                <th scope="col">Acción</th>
            </tr>
            
        </thead>
        
        <tbody>
            {% for usuario in total_usuarios %}
    
        <tr>
            <td> {{ usuario.nombresUser }} {{usuario.apellidosUser}} </td>
            <td> {{ usuario.rolUser }}</td>
            <td> 
                <a  href="/admin/editarperfil/{{ usuario.id }}">
                    <div class="btn btn-warning">
                        Editar
                    </div>
                    
                </a>
                <a href="/admin/eliminarperfil/{{ usuario.id }}"
                onclick="return confirm('¿Está seguro que desea eliminar este usuario?')">
                    <div class="btn btn-danger">
                        Eliminar
                    </div> 
                </a>
            </td>
        </tr>
    
        {% endfor %}

        </tbody>
        
    
    </table>
    <a href="/admin/dashboard">
        <div class="button">
            VOLVER
        </div>
    </a>
    

    
</div>




{% endblock %}