{% extends 'layout.html' %}


{% block body %}

<h1 style="text-align: center;">Multas Emitidas </h1>

<div class="container">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Glosa o Descripción de Multa</th>
                <th>Monto</th>
                <th>Estado </th>
                
            </tr>
        </thead>

        <tbody>
            {% if total_multas %}
            {% for multa in total_multas %}
            <tr>
                <td> {{ multa.glosa }} </td>
                <td> {{ multa.monto }} UTM</td>
                <td> {{ multa.statusMulta }}</td>
                
            </tr>
            {% endfor %}

            {% else %}
            <tr>
                <td> <h4>No existen registros</h4> </td>
                <td>  </td>
                <td></td>
                
            </tr>
            {% endif %}

        </tbody>


    </table>

</div>

<br>
<a href="/admin/dashboard">
    <div class="button">
        VOLVER
    </div>
</a>


{% endblock %}