{% extends 'layout.html' %}

{% block body %}

<div class="container">
    <h1 style="text-align: center;">Seguir Contratos</h1>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th> Contrato</th>
                <th> Vencimiento</th>
                <th> Razon Social </th>
                <th> acciones </th>
    
            </tr>
    
        </thead>
    
    
        <tbody>
            {% for contrato in total_contratos %}
            <tr>
    
                <td>{{ contrato.tituloContrato}} </td>
                <td> {{contrato.fechaFinContrato}} </td>
                <td> {{contrato.razonSocial }}</td>
                <td>
                    <a href="/admin/contrato/{{ contrato.id }}">
                        <div class="btn btn-info">
                            Seguir Contrato
                        </div> </a>
                        <a href="/admin/cerrarcontrato/{{ contrato.id }}"
                        onclick="return confirm('¿Está seguro que desea cerrar este contrato? Se eliminará permanentenmente de la base de datos.')">
                            <div  class="btn btn-danger">
                                Cerrar Contrato
                            </div> </a>
                </td>
    
            </tr>
            {% endfor %}
    
    
    
        </tbody>
    
    </table>
    <a href="/admin/dashboard">
        <div class="button">
            VOLVER
        </div>
    </a>


</div>

{% endblock %}