{% extends 'layout.html' %}


{% block body %}

<div class="container-login">

    <div class="form-input">
        <input type="text" readonly="readonly" name="rut_contratante" value="{{ rut_contratante }}" >

    </div>

</div>




{% endblock %}