.btn-secondary{
    background-color:#78288C !important ;
    border-style: none !important;
}



.navbar {
    width: 100%;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    background-color: #78288C;
    color: #fff;
    
}

.logo {
    width: 110px;

}

.logo-bienvenida{
    width: 200px;
}

.bienvenida {
    
    width:auto;
    margin-right: 0 !important;
    
   
}

.menu{
    width:50px
}

.span-boton{
    margin-right: 0;
}

.accion, a:link {
    box-shadow: 2px 2px 5px #888888;    
    text-decoration: none;
    text-align: center;
    margin: 30px;
   
    border-radius: 15px;
    width: 130px;
    height: 130px;
    background-color: #CC00FF;
    align-items: center;
}


.indicadores {
    padding-top: 5px;
    box-shadow: 2px 2px 5px #888888;    
    text-decoration: none;
    text-align: center;
    margin: 30px;
   
    border-radius: 15px;
    width: 130px;
    height: 130px;
    background-color: #858086;
    align-items: center;
}



.iconos-botones{
    margin: 5px;
    justify-content: center;
    width: 80px;
    height: 80px;
}

h1{
    font-family: 'roboto', sans-serif;
    font-size:30px;
    margin:30px;
    color: #3D0047;
}

h2{
    font-family: 'roboto', sans-serif;
    font-size:20px;
    margin:30px;
    color: #3D0047;
}

h3{
    font-size: 14px;  
    color: lavenderblush;
}
h4{
    font-size: 16px;  
    color: black;
}

h5{
    margin:25px;
    font-size: 30px;  
    color: lavenderblush;
}




.form-group{
    top: 50%;
    margin-left:40px !important;
    margin-right:40px !important;
}

/*
.centrar-boton .button{
    display: inline-block;
    align-items: center;
    top: 50%;
    margin-left:40px !important;
    
}
*/

.dropdown-item, a:link{
    box-shadow: none;  
    text-decoration: none;
    text-align: center;
    margin: 0;
    border-radius:0;
    width: auto;
    height: auto;
    background-color: white;
  
    
}


.volver{
    display: inline-block;
    align-items: center;
    justify-content: center;
    box-shadow:  2px 2px 5px #888888;  
    text-decoration: none;
    border: none;
    border-radius:15px;
    width: 200px;
    height: 30px;
    background-color: #8918A6;
    color: white;
    font-size: 14px;  
   
}

.button{
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left:40%;
    text-align: center;
    
    
    box-shadow:  2px 2px 5px #888888;  
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius:20px;
    width: 250px;
    height: 40px;
    line-height: 40px;
    background-color: #8918A6;
    color: white;
    font-size: 14px;  
}

.ingresar{
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left:0;
    text-align: center;
    
    
    box-shadow:  2px 2px 5px #888888;  
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius:20px;
    width: 250px;
    height: 40px;
    line-height: 40px;
    background-color: #8918A6;
    color: white;
    font-size: 14px;  
}

.login{
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left:16%;
    text-align: center;
    
    
    box-shadow:  2px 2px 5px #888888;  
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius:20px;
    width: 250px;
    height: 40px;
    line-height: 40px;
    background-color: #8918A6;
    color: white;
    font-size: 14px;  
}



.registrar{
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left:0;
    text-align: center;
    
    
    box-shadow:  2px 2px 5px #888888;  
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius:20px;
    width: 250px;
    height: 60px;
    line-height: 60px;
    background-color: #8918A6;
    color: white;
    font-size: 14px;  
}

.descarga{
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left:0;
    text-align: center;
    
    
    box-shadow:  2px 2px 5px #888888;  
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius:20px;
    width: 260px;
    height: 60px;
    line-height: 60px;
    background-color: #8918A6;
    color: white;
    font-size: 14px;  
}




th{
    text-align: center;
}
td{
    text-align: center;
    background-color: rgb(240, 240, 240);
}

.atributos{
    
    margin-left:8%
}


.container-contrato{
    background-color: #f5f5ef !important;
    padding:60px !important;
    border-radius: 30px !important;
    box-shadow:  1px 1px 3px #888888;  
    margin-left:10%;
    margin-right:10%;
}

.container-alertas{
    display:flex;
    background-color: #f5f5ef !important;
    padding-top:15px !important;
    padding-bottom:15px !important;
    padding-left:30px !important;
    border-radius: 20px !important;
    box-shadow:  1px 1px 3px #888888;  
    margin-left:10%;
    margin-right:10%;
}


.container-login{
    background-color: #f5f5ef !important;
    padding:10px !important;
    border-radius: 10px !important;
    box-shadow:  1px 1px 3px #888888;  
    
    margin-left:30%;
    margin-right:30%;
}


.container-logo{
    text-align: center;
    margin-left:10%;
    margin-right:10%;
}



.container-grafico{
    display:grid;
    text-align: center;
    margin-left:0;
    margin-right:0;
}

.grafico-dashboard{
  
    
    border-radius: 10px;
    max-width: 500px;
}

.form-control {
    font-size: 15px !important;
   
}


.input-group {
    padding: 20px !important;
   
}