{% extends 'layout.html' %}

{% block body %}





<h1 style="text-align: center;">Facturas: cambio de estado</h1>

<div class="container-login">
    <form class="form-group" action="/user/actualizarfactura/{{ factura_a_editar.id }}" method="post">
        
        <div class="form-input">
         
            <input type="hidden" id="user_id" name="user_id" value="{{ current_user.id}}">
        </div>

        <div class="form-input">
            
            <input type="hidden" id="contrato_id" name="contrato_id" value="{{ factura_a_editar.contrato_id }}">
        </div>
        <div class="form-input">
            <label class="form-label"> <h2>Número documento Factura</h2></label>
            <input class="form-control" type="text" id="docFactura" name="docFactura" value={{factura_a_editar.docFactura}} readonly="readonly">
        </div>
        <div class="form-group">
            <label class="form-label"> <h2>Estado de la Factura:</h2><h4 style="margin: 0;">{{factura_a_editar.statusFactura}}</h4></label>

            <p>
            <input type="radio" name="statusFactura" value="REGISTRADA"> Factura Registrada <br>
            <input type="radio" name="statusFactura" value="RECHAZADA"> Factura Rechazada <br>
            <input type="radio" name="statusFactura" value="ACEPTADA"> Factura Aceptada 
        </p>
        </div>
        <div class="container-logo">
            <button class="ingresar" type="submit">INGRESAR</button>
        </div>
    </form>
</div>
<div class="container-logo">
    <a href="/user/dashboarduser">
        <div class="ingresar">
            VOLVER
        </div>
    </a>
</div>

-->


{% endblock %}


