{% extends 'layout.html' %}


{% block body %}

<h1 style="text-align: center;">Editar multas</h1>
<div class="container-login">
    <form class="form-group" action="/user/actualizarmulta/{{multa_a_editar.id}}" method="post">
        
        <div class="form-input">
         
            <input type="hidden" id="user_id" name="user_id" value="{{ current_user.id }}">
        </div>

        <div class="form-input">
            
            <input type="hidden" id="contrato_id" name="contrato_id" value="{{ contrato_id }}">
        </div>
        <div class="form-input">
            <label><h4>Monto de la sanción o multa (UTM)</h4></label>
            <input class="form-control" value="{{multa_a_editar.monto}}" type="text" id="monto" name="monto" placeholder="Monto UTM" readonly="readonly">
        </div>
        <br>
        <hr>
        <div class="form-input">
            <label><h4>Glosa o detalle de multa</h4></label>
            <p> {{ multa_a_editar.glosa}}
            </p>
            <input class="form-control" value="{{multa_a_editar.glosa}}" type="hidden" id="glosa" name="glosa" readonly="readonly">

            
        </div>
        <hr>
        
        <div class="form-input">
            <label><h4>Estado de multa</h4></label>
            <p> {{ multa_a_editar.statusMulta }}</p>
            <hr>
            <h4> Cambiar estado a: </h4>
            <p>
            <input type="radio" name="statusMulta" value="CURSADA" required> Multa Cursada <br>
            <input type="radio" name="statusMulta" value="NOTIFICADA"> Multa Notificada <br>
            <input type="radio" name="statusMulta" value="IMPUGNADA"> Multa Impugnada <br>
            <input type="radio" name="statusMulta" value="APELADA"> Multa Apelada <br>
            <input type="radio" name="statusMulta" value="EJECUTADA"> Multa Ejecutada <br>
        </p>
        </div>
        <div class="container-logo">
            <button class="ingresar" type="submit">INGRESAR</button>
        </div>
        
    </form>
</div>

<div class="container-logo">
    <a href="/user/dashboarduser">
        <div class="ingresar">
            VOLVER
        </div>
    </a>
</div>





{% endblock %}