{% extends 'layout.html' %}


{% block body %}
<h1 style="text-align: center;">Facturas</h1>
<div class="container-login">
    <form class="form-group" action="{{url_for('user.RegistrarFactura')}}" method="post">
        
        <div class="form-input">
         
            <input type="hidden" id="user_id" name="user_id" value="{{ current_user.id }}">
        </div>

        <div class="form-input">
            
            <input type="hidden" id="contrato_id" name="contrato_id" value="{{ contrato_id }}">
        </div>
        <div class="form-input">
            <label class="form-label"> <h2>Número documento Factura</h2></label>
            <input class="form-control" type="text" id="docFactura" name="docFactura">
        </div>
        <div class="form-group">
            <label class="form-label"> <h2>Estado de la Factura</h2></label>
            <p>
            <input type="radio" name="statusFactura" value="REGISTRADA" required> Factura Registrada <br>
            <input type="radio" name="statusFactura" value="RECHAZADA"> Factura Rechazada <br>
            <input type="radio" name="statusFactura" value="ACEPTADA"> Factura Aceptada <br>
        </p>
        </div>
        <div class="container-logo">
            <button class="ingresar" type="submit">INGRESAR</button>
        </div>
    </form>
</div>
<div class="container-logo">
    <a href="/user/dashboarduser">
        <div class="ingresar">
            VOLVER
        </div>
    </a>
</div>




{% endblock %}