{% extends 'layout.html' %}


{% block body %}
<h1 style="text-align: center;">Multas</h1>
<div class="container-login">
    <form class="form-group" action="{{url_for('user.RegistrarMulta')}}" method="post">
        
        <div class="form-input">
         
            <input type="hidden" id="user_id" name="user_id" value="{{ current_user.id }}">
        </div>

        <div class="form-input">
            
            <input type="hidden" id="contrato_id" name="contrato_id" value="{{ contrato_id }}">
        </div>
        <div class="form-input">
            <label><h4>Monto de la sanción o multa (UTM)</h4></label>
            <input class="form-control" type="text" id="monto" name="monto" placeholder="Monto UTM">
        </div>
        <div class="form-input">
            <label><h4>Glosa o detalle de multa</h4></label>
            <textarea   style="height: 300px;" class="form-control" type="text" id="glosa" name="glosa">
            </textarea>
        </div>
        <br>
        <div class="form-input">
            <label><h4>Estado de multa</h4></label>
            <p>
            <input type="radio" name="statusMulta" value="CURSADA" required> Multa Cursada <br>
            <input type="radio" name="statusMulta" value="NOTIFICADA"> Multa Notificada <br>
            <input type="radio" name="statusMulta" value="IMPUGNADA"> Multa Impugnada <br>
            <input type="radio" name="statusMulta" value="APELADA"> Multa Apelada <br>
            <input type="radio" name="statusMulta" value="EJECUTADA"> Multa Ejecutada <br>
        </p>
        </div>
        <div class="container-logo">
            <button class="ingresar" type="submit">INGRESAR</button>
        </div>
        
    </form>
</div>

<div class="container-logo">
    <a href="/user/dashboarduser">
        <div class="ingresar">
            VOLVER
        </div>
    </a>
</div>






{% endblock %}