{% extends 'layout.html' %}

{% block body %}

<br>
<!--
<div class="container">
    <div class="row">
        <div class="col">
            <a href="/user/usrmulta/{{ current_user.id }}">
                <div class=accion>
                    <img class="iconos-botones" src="{{ url_for('static',filename='/img/multa-white.png' ) }}">
                    <h3>Registrar Sanción</h3>

                </div>

            </a>
        </div>

        <div class="col">
            <a href="/user/usrfactura/{{ current_user.id }}">
                <div class=accion>
                    <img class="iconos-botones" src="{{ url_for('static',filename='/img/factura-white.png' ) }}">
                    <h3>Registrar Factura</h3>

                </div>

            </a>
        </div>

    </div>
</div>

<br>
<hr><br>


-->

<h1 style="text-align: center;">Tus Contratos</h1>

<div class="container">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th> Contrato</th>
                <th> Vencimiento </th>
                <th> Razon Social </th>
                <th> acciones </th>

            </tr>
        </thead>


        <tbody>
            {% for contrato in total_contratos %}
            <tr>

                <td>{{ contrato.tituloContrato}} </td>
                <td> {{contrato.fechaFinContrato}} </td>
                <td> {{contrato.razonSocial }}</td>
                <td>
                    <a href="/user/usrcontrato/{{ contrato.id }}">
                        <div class="btn btn-info">
                            Seguir Contrato
                        </div>
                    </a>


                </td>

            </tr>
            {% endfor %}
        </tbody>

    </table>


</div>




<h1 style="text-align: center;">Multas Emitidas </h1>

<div class="container">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Glosa o Descripción de Multa</th>
                <th>Monto</th>
                <th>Estado de la Multa </th>
                <th>Acción</th>
            </tr>
        </thead>

        <tbody>
            {% if total_multas %}
            {% for multa in total_multas %}
            <tr>
                <td> {{ multa.glosa }} </td>
                <td> {{ multa.monto }} UTM</td>
                <td> {{ multa.statusMulta }}</td>
                <td>
                    <a href="/user/editarmulta/{{ multa.id }}">
                        <div class="btn btn-warning">
                            Cambiar Estado
                        </div>
                    </a>
                </td>
            </tr>
            {% endfor %}

            {% else %}
            <tr>
                <td> <h4>No existen registros</h4> </td>
                <td>  </td>
                <td></td>
                <td></td>
            </tr>
            {% endif %}

        </tbody>


    </table>

</div>

<h1 style="text-align: center;">Facturas Registradas</h1>

<div class="container">

    <table class="table">

        <thead class="thead-light">
            <tr>
                <th>Número de Factura</th>
                <th>Estado </th>
                <th>Acción </th>

            </tr>
        </thead>

        <tbody>
            {% for factura in total_facturas %}
            

            <tr>
                <td> {{factura.docFactura}} </td>
                <td> {{factura.statusFactura}} </td>
                <td> <a href="/user/editarfactura/{{ factura.id }}">
                        <div class="btn btn-warning">
                            Cambiar Estado
                        </div>
                    </a>
                </td>

            </tr>
            {% endfor %}

        </tbody>

    </table>


</div>

<h1 style="text-align: center;">Tu Actividad</h1>
<div class="container">
    <table class="table">

        <thead class="thead-light">
            <tr>
                <th>Actividad</th>

            </tr>

        </thead>

        <tbody>

            {% for log in total_logs %}

            <tr>
                <td> {{log.logUser}} </td>

            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}