{% extends 'layout.html' %}

{% block body %}


    
    <h1 style="text-align: center;">PLATAFORMA DE CONTRATOS</h1>
    
    <div class=container-login>
        <h2>Ingreso</h2>
        <form class="form" action="/auth/formulariologin" method="post">
            <label style="margin-left: 20px !important;" class="form-label"><h4>Correo electrónico</h4></label>
            <div class="input-group">
                      
                <input class="form-control" type="text" id="emailUser" name="emailUser" required/>
            
        </div> 
            <label style="margin-left: 20px !important;"c lass="form-label"><h4>Contraseña</h4></label>
            <div class="input-group">
                
                <input class="form-control" type="password" id="contrasenaUser" name="contrasenaUser" required/>
            </div>

            <div class=container-logo>
                <button class="ingresar" type="submit">INGRESAR</button>
            
            </div>
           
        </form>
    </div>
    
{% endblock %}