{% extends 'layout.html' %}

{% block body %}

    <h1 style="text-align: center;">Registro de Usuario</h1>
    <hr>
    <div class="form-group">
    <form action="/auth/formulario" method="post">
       <fieldset>
        <div class="form-group">
            <label class="label-control">Nombres</label>
            <input class="form-control" type="text" name="nombresUser" required/>
        </div>
        <div class="form-group">
            <label>Apellidos</label>
            <input class="form-control" type="text" name="apellidosUser" required/>
        </div>
        <div class="form-group">
            <label>Rut (sin puntos, con guión)</label>
            <input class="form-control" type="text" id="rutUser" name="rutUser" required minlength="9" maxlength="10"/>
        </div>
        <div class="form-group">
            <label>Fecha Nacimiento</label>
            <input class="form-control" type="date" id="fechaNacimientoUser" name="fechaNacimientoUser" required/>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="email" id="emailUser" name="emailUser" required/>
        </div>
        <div class="form-group">
            <label>Teléfono (+56)</label>
            <input class="form-control" type="text" id="telefonoUser" name="telefonoUser" required minlength="9" maxlength="9"/>
        </div>
        <div class="form-group">
            <label>Cargo</label>
            <input class="form-control" type="text" id="cargoUser" name="cargoUser" required/>
        </div>

        <div class="form-group">
            <label >Rol</label>
            <p>
            <input  type="radio" name="rolUser" value="ADMINISTRADOR"> Administrador
            <input  type="radio" name="rolUser" value="USUARIO"> Usuario ITS/ITO
        </p>
        </div>

        <div class="form-group">
            <label>Contraseña</label>
            <input class="form-control" type="password" id="contrasenaUser" name="contrasenaUser" required onkeyup='confirmarContrasena();'/>
        </div>
        <div class="form-group">
            <label>Repetir contraseña</label>
            <input class="form-control" type="password" id="repContrasenaUser" name="repContrasenaUser" required onkeyup='confirmarContrasena();'/>
            <span id="alerta">  </span>
        </div>



        <button class="button" type="submit">REGISTRAR</button>

                
        <a href="/admin/dashboard">
            <div class="button">
                VOLVER
            </div>
        </a>
        

    </fieldset>
    </form>
</div>


{% endblock %}