{% extends 'layout.html' %}

{% block body %}


<div class="container-logo">
    <br>

    <img class="logo-bienvenida" src="{{ url_for( 'static', filename='/img/logo-color.png')}}">


</div>
<br>

<h1 style="text-align: center;">PLATAFORMA DE CONTRATOS </h1>

<hr>

<div class="container-logo">
    <a href="/auth/login">
        <div  class="ingresar">INGRESAR</div>
    </a>
    
</div>


{% if current_user.rolUser =="ADMINISTRADOR" %}

<div class="container-logo">
    <a href="/admin/dashboard">
        <div  class="ingresar">IR A PANEL</div>
    </a>
    
</div>

{% elif current_user.rolUser=="USUARIO"%}
<div class="container-logo">
    <a href="/user/dashboarduser">
        <div  class="ingresar">IR A PANEL</div>
    </a>
    
</div>

{% endif %}







{% endblock %}