<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/layout.css')}}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <script>
        var confirmarContrasena = function () {
            if (document.getElementById("contrasenaUser").value == document.getElementById("repContrasenaUser").value) {
                document.getElementById("alerta").innerHTML = "Contraseña Coincide";
            } else {
                document.getElementById("alerta").innerHTML = "Contraseña no coincide";

            }
        }


    </script>
    <title>Contratos</title>
</head>

<body>
    <div class="row justify-content-sm-center"></div>
    <nav class="navbar navbar-expand-lg">

        <div class="navbar-brand">
            <img class="logo" src="{{ url_for('static',filename='/img/quilicura-logo.png') }}" />
        </div>

        <div class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
            <span class="bienvenida">
                <h3>Bienvenido, {{ current_user.nombresUser }}!</h3>
            </span>

            {% else %}

            {% endif %}

        </div>


        <div class="navbar-nav ml-auto">

            
            <div class="navbar-nav ml-auto">
                <a class="btn btn-outline-light"
                    style="border-radius: 5px !important; background-color: transparent !important;" role="button"
                    href="/auth/logout">Salir</a>

                <!--
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="menu" src="{{ url_for('static',filename='/img/menu-white.png') }}">
        
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item"><a class="dropdown-item" href="/auth/logout">Salir</a></div>
                        
                        
                    </div>
                    -->
            </div>

        </div>

    </nav>
    </div>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    {% endfor %}

    {% block body %}


    {% endblock %}

</body>

</html>